.sec-intro {
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer {
    border-top: 1px solid #ddd;
}